#app{
    background-color: #cecece;
    border: 4px solid green;
    border-radius: 10px;
    padding-top: 10px;
}
.teclado{
    margin-top: 5px;
    margin-left: 4px;
    width: 35px;
    display: inline-grid;
    border: 2px solid green;
    border-radius: 100px;
    background-color: #ebf5fb;
    text-align: center;
    cursor: pointer;
}
ul#horizontal-list li{
    display: inline;
}
ul#horizontal-list button{
    margin-left: 10px;
    width: 40px;
}
.cuadro{
    width: 30px;
    margin-left: 4px;
    border: 4px solid #3486e4;
    border-radius: 5px;
    background: black;
    color: blue;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    padding-left: 3px;
    font-size: 1em;
}
.rojo{
    background-color: red;
}
.verde{
    background-color: rgb(10, 187, 10);
}
#controlSuccess{
    border:4px solid green ;
}
#controlError{
    border:4px solid red ;
}
